USE [master]
GO
/****** Object:  Database [ECHOSchool]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE DATABASE [ECHOSchool]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ECHOSchool', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ECHOSchool.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ECHOSchool_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ECHOSchool_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ECHOSchool].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ECHOSchool]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] NOT NULL,
	[Password] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassRoom]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassRoom](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_dbo.ClassRoom] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Day]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Day](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Day] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Lesson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ClassRoomID] [int] NOT NULL,
	[DayID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Schedule] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleLesson]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleLesson](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TeacherID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[SubjectID] [int] NOT NULL,
	[LessonID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ScheduleLesson] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[ID] [int] NOT NULL,
	[ClassRoomID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Student] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teacher]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teacher](
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Teacher] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 7/22/2020 8:30:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Email] [nvarchar](40) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([ID], [Password]) VALUES (1, N'0000')
SET IDENTITY_INSERT [dbo].[ClassRoom] ON 

INSERT [dbo].[ClassRoom] ([ID], [Name]) VALUES (1, N'1-1')
INSERT [dbo].[ClassRoom] ([ID], [Name]) VALUES (2, N'2-1')
SET IDENTITY_INSERT [dbo].[ClassRoom] OFF
SET IDENTITY_INSERT [dbo].[Day] ON 

INSERT [dbo].[Day] ([ID], [Name]) VALUES (1, N'Sat')
INSERT [dbo].[Day] ([ID], [Name]) VALUES (2, N'Sun')
INSERT [dbo].[Day] ([ID], [Name]) VALUES (3, N'Mon')
SET IDENTITY_INSERT [dbo].[Day] OFF
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (1, N'1')
INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (2, N'2')
INSERT [dbo].[Lesson] ([ID], [Name]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[Lesson] OFF
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([ID], [ClassRoomID], [DayID]) VALUES (19, 1, 1)
INSERT [dbo].[Schedule] ([ID], [ClassRoomID], [DayID]) VALUES (20, 1, 2)
INSERT [dbo].[Schedule] ([ID], [ClassRoomID], [DayID]) VALUES (21, 1, 3)
SET IDENTITY_INSERT [dbo].[Schedule] OFF
SET IDENTITY_INSERT [dbo].[ScheduleLesson] ON 

INSERT [dbo].[ScheduleLesson] ([ID], [TeacherID], [ScheduleID], [SubjectID], [LessonID]) VALUES (27, 2, 19, 1, 1)
INSERT [dbo].[ScheduleLesson] ([ID], [TeacherID], [ScheduleID], [SubjectID], [LessonID]) VALUES (28, 5, 19, 2, 2)
INSERT [dbo].[ScheduleLesson] ([ID], [TeacherID], [ScheduleID], [SubjectID], [LessonID]) VALUES (29, 6, 19, 3, 3)
SET IDENTITY_INSERT [dbo].[ScheduleLesson] OFF
INSERT [dbo].[Student] ([ID], [ClassRoomID]) VALUES (3, 1)
INSERT [dbo].[Student] ([ID], [ClassRoomID]) VALUES (4, 1)
INSERT [dbo].[Student] ([ID], [ClassRoomID]) VALUES (7, 1)
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([ID], [Name]) VALUES (1, N'Math')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (2, N'Arabic')
INSERT [dbo].[Subject] ([ID], [Name]) VALUES (3, N'English')
SET IDENTITY_INSERT [dbo].[Subject] OFF
INSERT [dbo].[Teacher] ([ID]) VALUES (2)
INSERT [dbo].[Teacher] ([ID]) VALUES (5)
INSERT [dbo].[Teacher] ([ID]) VALUES (6)
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([ID], [Name], [Email], [Phone]) VALUES (1, N'mahmoud', N'mahmoud@gmail.com', N'01095544899')
INSERT [dbo].[User] ([ID], [Name], [Email], [Phone]) VALUES (2, N'Ahmed Adel', N'ahmedadel47@gmail.com', N'01054512744')
INSERT [dbo].[User] ([ID], [Name], [Email], [Phone]) VALUES (3, N'Ali Ahmed', N'aliahmed25@gmail.com', N'01059962574')
SET IDENTITY_INSERT [dbo].[User] OFF
/****** Object:  Index [IX_ID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[Admin]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassRoomID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassRoomID] ON [dbo].[Schedule]
(
	[ClassRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_DayID] ON [dbo].[Schedule]
(
	[DayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_LessonID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_LessonID] ON [dbo].[ScheduleLesson]
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ScheduleID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ScheduleID] ON [dbo].[ScheduleLesson]
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubjectID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_SubjectID] ON [dbo].[ScheduleLesson]
(
	[SubjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherID] ON [dbo].[ScheduleLesson]
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ClassRoomID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ClassRoomID] ON [dbo].[Student]
(
	[ClassRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[Student]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ID]    Script Date: 7/22/2020 8:30:17 AM ******/
CREATE NONCLUSTERED INDEX [IX_ID] ON [dbo].[Teacher]
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admin_dbo.User_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_dbo.Admin_dbo.User_ID]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schedule_dbo.ClassRoom_ClassRoomID] FOREIGN KEY([ClassRoomID])
REFERENCES [dbo].[ClassRoom] ([ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_dbo.Schedule_dbo.ClassRoom_ClassRoomID]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Schedule_dbo.Day_DayID] FOREIGN KEY([DayID])
REFERENCES [dbo].[Day] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_dbo.Schedule_dbo.Day_DayID]
GO
ALTER TABLE [dbo].[ScheduleLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Lesson_LessonID] FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lesson] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleLesson] CHECK CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Lesson_LessonID]
GO
ALTER TABLE [dbo].[ScheduleLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Schedule_ScheduleID] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleLesson] CHECK CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Schedule_ScheduleID]
GO
ALTER TABLE [dbo].[ScheduleLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Subject_SubjectID] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[Subject] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleLesson] CHECK CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Subject_SubjectID]
GO
ALTER TABLE [dbo].[ScheduleLesson]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Teacher_TeacherID] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teacher] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ScheduleLesson] CHECK CONSTRAINT [FK_dbo.ScheduleLesson_dbo.Teacher_TeacherID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.ClassRoom_ClassRoomID] FOREIGN KEY([ClassRoomID])
REFERENCES [dbo].[ClassRoom] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.ClassRoom_ClassRoomID]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Student_dbo.User_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_dbo.Student_dbo.User_ID]
GO
ALTER TABLE [dbo].[Teacher]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teacher_dbo.User_ID] FOREIGN KEY([ID])
REFERENCES [dbo].[User] ([ID])
GO
ALTER TABLE [dbo].[Teacher] CHECK CONSTRAINT [FK_dbo.Teacher_dbo.User_ID]
GO
USE [master]
GO
